#leftside{
    width: 40%; 
    display: block;
    float: left;
    padding: 10px;
}

#rightside{
    display: block;
    float: left;
    width: 60%; 
}

.panel-primary{    
    display: inline-block;
}

.panel {
    margin: 10px;
}

#searchlist {
    margin: 10px;
}